.coin_lines{
    display: flex;
    justify-content: space-between;
}
p{
    background-color: transparent !important;
}
.coin_lines:hover{
    background-color: gray;
}
.title_name {
    display: flex;
}
