*{
    background-color:black;
    color:white;
}
#list_block{
    display:flex;
    justify-content:space-between;
    padding: 20px;
    font-size:20px;
}
#coin_columns{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
    font-size:15px;
    padding: 20px;
}
input{
    background-color: white;
    margin-right: 10px;
    color: black;
}
.coin_symbl{
    display: flex;
    width: 25%;
}
img{
    margin-right: 10px;
}
