*{
    background-color:black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#coin_columns{
    justify-content: space-between;
    color:white;
    font-size:15px;
    padding: 20px;
}
input{
    background-color: white;
    margin-right: 10px;
    color: black;
}
img{
    margin-right: 10px;
}
